<html>
	<head>
		<title> Sinatra Would Be Proud </title>
	</head>
	<body>
		<h1> Ella-May </h1>
		<p>My name is Ella-May from Mobile, Alabama and I just want to say since listening to Kanye's workout tape I been able to date outside the family, I got a double wide, and I rode a plane, rode a plane, rode a plane.</p>
		<a href = "/home"> Go Home </a>
	</body>
</html>