<!DOCTYPE html>
<html>
	<head>
		<title>Timetracking</title>
	</head>
	<body>
		<h1> How ya'll doin? </h1>
		<a href = "/contact">Contact info</a>
		<a href = "/calculator"> Calculator </a>
	</body>
</html>